body{
	font-family:'TitilLig', sans-serif;
	color: white;
	font-size:75%;
	width: 100%;
	min-height:100%;
	overflow:none;
	background-image: url(img/bg.jpg);
	background-size: cover;
}

#ajouter_event p {
	font-style: normal;
	font-size: 50px;
	line-height: 50px;
}

@font-face{
	font-family:'Bellerose';
	src:url('fonts/Bellerose.ttf');
}

@font-face{
	font-family:'TitilReg';
	src:url('fonts/TitilliumWeb-Regular.ttf');
}

@font-face{
	font-family:'TitilLig';
	src:url('fonts/TitilliumWeb-Light.ttf');
}

img{
	border: none;	
}

h1,h2,h3,h4,h5{
	color: white;
	font-family: Bellerose;
}

a, a:visited {
	text-decoration:none;
	color:white;
}

ul {
	display:inline-block;
	list-style:none;
	padding:0;
}

header{
	font-family: Bellerose;
	font-size: 20px;
	height: 80px;
	width: 101%;
	margin-left: -5px;
	background-color: rgba(0,0,0,0.7);
	margin-bottom: 2%;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	margin-top: -20px;
	margin-bottom: 20px;
}

header p{
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	padding-top: 30px;
	padding-left: 4%;
}


#logo{
	height: 40px;
	width: 100px;
}

#notifications{
	float: right;
	margin-right: 2%;
	height:30px;
	width: 30px;
}

#settings{
	background-size: cover;
	height: 30px;
	width: 30px;
	float: right;
	margin-right: 2%;
}

#logout{
	float: right;
	margin-right: 3%;
	margin-top: -8px;
	font-size: 20px;
}


#stats{
	text-align: center;
	font-family: Bellerose;
	font-size: 15px;
	background-color: rgba(0,0,0,0.4);
	float: right;
	width: 15%;
	margin: auto;
	margin-right: 1%;
	margin-left: 1%;
	line-height: 55px;
}

#stats li{
	margin:5px 12px;
}

#us{
	font-size: 20px;
	margin: 0;
}

.round{
	height: 60px;
	width: 60px;
	border-radius: 50px;
}

.red{
	background-color: rgba(231,76,60,0.5);
}

.orange{
	background-color: rgba(255,128,49,0.5);
}

.menuPts{
	background-color: black;
}

li.menuPts p{
	position: relative;
	top: 15px;
}

ul.stats_one{
	margin-top: 0;
}

ul.stats_one li p{
	font-size: 15px;
}

.mood{
	height: 60px;
	width: 60px;
	background-image: url('img/smile1.png');
	background-size: cover;	
}

nav{
	float: left;
/* 	width: 12%;	 */
	/*
margin-left: 2%;
	margin-right: 1%;
	margin-top: 5%;
*/
	
	
	
	
	
/* 	border: 1px solid blue; */
}

nav li{
	margin: 10px;
}

nav li a{
	display: block;
	height: 70px;
	width:70px;
}

#nous{
	height: 70px;
	width: 70px;
	background-image: url('img/nous.png');
	background-size: cover;
	}
/*
	
li#nous.itemMenu a.active{
	height: 80px;
	width: 80px;
	background-image: url('img/nousH.png');
	background-size: cover;
}
*/

#chat{	
	height: 70px;
	width: 70px;
	background-image: url('img/chat.png');
	background-size: cover;
}
/*

li#chat.itemMenu a.active{	
height: 80px;
	width: 80px;
	background-image: url('img/chatH.png');
	background-size: cover;
}
*/

#tabou{
	height: 70px;
	width: 70px;
	background-image: url('img/tabou.png');
	background-size: cover;
}
/*

li#tabou.itemMenu a.active{
	height: 80px;
	width: 80px;
	padding-bottom: 10px;
	background-image: url('img/tabouH.png');
	background-size: cover;
}
*/

#coquin{
	height: 70px;
	width: 70px;
	background-image: url('img/coquin.png');
	background-size: cover;
}
/*

li#coquin.itemMenu a.active{
	height: 80px;
	width: 80px;
	background-image: url('img/coquinH.png');
	background-size: cover;
}
*/

#punching{
	border: 1px solid black;
	margin: auto;
}

.main{
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
	width: 65%;
	min-height: 75%;
	padding: 1% 2%;
	margin-left: 13%;	
	
	
	
/* 	border: 1px solid green; */
}

.mainTitle{
	margin-top: 0;
}

#game{
	width: 65%;
}

#buttons{
	float: left;
	padding: 10% 9% 0 9%;
}

#buttons button{
	margin: 5px;
	width: 100px;
}


#punching_jeu{
}

#punching_img{
	max-height: 60%;
	max-width: 430px;
	float: left;
}

#scores{
	float: left;
	text-transform:uppercase;
	margin-left: 10%;
}

#scores h3{
	font-family: TitilLig;
	font-size: 15px;
	margin-left: 9px;	
	margin-bottom: 0;
}

#punching_score, #punching_timing{
	display: block;
	height: 60px;
	width: 60px;
	border-radius: 80px;
	background-position:center center;
}

#punching_scorep, #punching_timingp{
	position: relative;
	top:12px;
	font-size: 20px;
	text-align: center;
}

.flechette{
	position: absolute;
}

button.OrgBorder{
	font-family: Bellerose;
	font-size: 17px;
	height: 25px;
	line-height: 10px;
	background: transparent;
	border: 1px solid #ff7e30;
	color: white;
}

button.padd{
		padding: 0 50px 0 50px;
}

button[disabled=disabled]{
	color:rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.2);
	
}

.OrgBorder{
	border: 1px solid #ff7e30;
}

#pop_send{
	z-index: 10;
	background: rgba(0,0,0,0.6);
	width: 40%;
	height: 40%;
	padding: 2%;
	position: absolute;
	left: 30%;
	top: 30%;
}

#pop_send textarea{
	width: 100%;
	background: rgba(0,0,0,0.6);
	resize: none;
	margin-bottom: 10px;
}

#pop_send_btn{
	width: 100%;
	text-align: center;
}

footer{
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	width: 120%;
	height: 140px;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	bottom: 0;
	right: -20px;
	bottom: -100px;
}

footer p{
	position: absolute;
	top:20px;
	right:100px;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

/* Page Calendrier */

.jour_calendar {
	padding: 5px 10px 0 10px;
	display: inline-block;
	background: rgba(255,255,255,.1);
	text-align: center;
	vertical-align: top;
	border-radius: 3px;
}

.jour_calendar + .jour_calendar {
	margin-left: 10px;
}

#popup_ajout_event {
	position: absolute;
	top: 35%;
	left: 35%;
	padding: 20px;
	background: rgba(255,255,255,.2);
	display:none;
}

#popup_ajout_event h2 {
	line-height: 30px;
	margin-bottom: 30px;
}

#popup_ajout_event input {
	display: block;
	color: black;
	width: 95%;
	margin: 10px auto 0 auto;
}

#fermer_popup {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	color:rgba(231,76,60,0.5);
}

#fermer_popup a {
	color:rgba(231,76,60,0.5);
}

#fond_noir_popup {
	display:none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	z-index:;
	top:0;
	left:0;
}

/* Page infos personelles*/

#infosPersos{
	width: 50%;
	font-family: Bellerose;	
}

#infosPersos h1{
	padding-bottom: 3%;
}

#profilePic{
	float: right;
	height: 150px;
	width: 150px;
	padding: 40px 20px;
	border: 2px dashed orange;
	text-align: center;
}

#dates{
	width: 70%;
	float: left;
}

#dates select{
	width: 70px;
	font-family: Bellerose;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 15px;
	height: 25px;
	border-radius: 0;
	border: none;
	background: rgba(0,0,0,0.5);
	color: white;
}

#chooseBgPic{
	padding:60px 10px;
	height: 200px;
	width: 250px;
	border: 2px dashed orange;
	text-align: center;
}


#validBgPic{
	margin-left: 300px;
	text-align: center;
	padding: 10px;
	width: 200px;
	background: rgba(0,0,0,0.3);
}

/*.albumGeneral
{ 
clear:both;
}*/

.columnAlbum {
	margin-top:;
	width:23%;
	margin:2%;
	display:inline-block;
	min-height:20px;
	background-color:rgba(22, 22, 22, 0.8);
}


.hashtag {
	font-family:Bellerose;
	font-size:1.5em;
	color:#c34b42;
	margin-left:3%;

}

.albumDate {
	color:#edd9d7;
	font-size:1.1em;
	margin-left:10%;
	margin-top:1%;
	margin-bottom:15%;
}

.boxPhoto img {
	padding-top:2.5%;
	padding-left:2.5%;
	padding-right:2.5%;

}

.searching {
	background-color:rgba(22, 22, 22, 0.8);
	padding:1%;
	display:inline;
	width:22%;
}

.searching input {
	background-color:black;
	border-radius:5px;
	border:none;
}

.searching input::-webkit-input-placeholder {
    color:#a39594;
    text-align:center;
}
 
.searching input:-moz-placeholder {
    color:#a39594;
    text-align:center;
}

.searching input {
    color:#a39594;
    text-align:center;
}


#album h1
{ 
	display:inline-block;
	width:68%;
}


