body{
	font-family:'TitilLig', sans-serif;
	color: white;
	font-size:75%;
	width: 100%;
	min-height:100%;
	overflow:none;
	background-image: url(img/bg.jpg);
	background-size: cover;
	z-index: 1;
	overflow-x: hidden;
}

#ajouter_event p {
	font-style: normal;
	font-size: 50px;
	line-height: 50px;
}

@font-face{
	font-family:'Bellerose';
	src:url('fonts/Bellerose.ttf');
}

@font-face{
	font-family:'TitilReg';
	src:url('fonts/TitilliumWeb-Regular.ttf');
}

@font-face{
	font-family:'TitilLig';
	src:url('fonts/TitilliumWeb-Light.ttf');
}

img{
	border: none;	
}

h1,h2,h3,h4,h5{
	color: white;
	font-family: Bellerose;
}

a, a:visited {
	text-decoration:none;
	color:white;
}
/*

input{
	-webkit-appearance: none;	
	-moz-appearance: none;
}
*/

ul {
	display:inline-block;
	list-style:none;
	padding:0;
}

header{
	font-family: Bellerose;
	font-size: 20px;
	height: 80px;
	width: 101%;
	margin-left: -5px;
	background-color: rgba(0,0,0,0.7);
	margin-bottom: 2%;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	margin-top: -20px;
	margin-bottom: 20px;
}

header p{
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	padding-top: 30px;
	padding-left: 4%;
}


#logo{
	height: 40px;
	width: 100px;
}

#notifications{
	float: right;
	margin-right: 2%;
	height:30px;
	width: 30px;
}

#settings{
	background-size: cover;
	height: 30px;
	width: 30px;
	float: right;
	margin-right: 2%;
}

#logout{
	float: right;
	margin-right: 3%;
	margin-top: -8px;
	font-size: 20px;
}


#stats{
	text-align: center;
	font-family: Bellerose;
	font-size: 15px;
	background-color: rgba(0,0,0,0.4);
	float: right;
	width: 15%;
	margin: auto;
	margin-right: 1%;
	margin-left: 1%;
	line-height: 55px;
}

#stats li{
	margin:5px 12px;
}

#us{
	font-size: 20px;
	margin: 0;
}

.round{
	height: 60px;
	width: 60px;
	border-radius: 50px;
}

.red{
	background-color: rgba(231,76,60,0.5);
}

.orange{
	background-color: rgba(255,128,49,0.5);
}

.menuPts{
	background-color: black;
}

li.menuPts p{
	position: relative;
	top: 15px;
}

ul.stats_one{
	margin-top: 0;
}

ul.stats_one li p{
	font-size: 15px;
}

.mood{
	height: 60px;
	width: 60px;
	background-image: url('img/smile1.png');
	background-size: cover;	
}

nav{
	float: left;
/* 	width: 12%;	 */
	/*
margin-left: 2%;
	margin-right: 1%;
	margin-top: 5%;
*/
	
	
	
	
	
/* 	border: 1px solid blue; */
}

nav li{
	margin: 10px;
}

nav li a{
	display: block;
	height: 70px;
	width:70px;
}

#nous{
	height: 70px;
	width: 70px;
	background-image: url('img/nous.png');
	background-size: cover;
	}
	
#nous:hover{
	height: 80px;
	width: 80px;
	background-image: url('img/nousH.png');
	background-size: cover;
}

#chat{	
	height: 70px;
	width: 70px;
	background-image: url('img/chat.png');
	background-size: cover;
}

#chat:hover{	
	height: 80px;
	width: 80px;
	background-image: url('img/chatH.png');
	background-size: cover;
}

#tabou{
	height: 70px;
	width: 70px;
	background-image: url('img/tabou.png');
	background-size: cover;
}

#tabou:hover{
	height: 80px;
	width: 80px;
	padding-bottom: 10px;
	background-image: url('img/tabouH.png');
	background-size: cover;
}

#coquin{
	height: 70px;
	width: 70px;
	background-image: url('img/coquin.png');
	background-size: cover;
}

#coquin:hover{
	height: 80px;
	width: 80px;
	background-image: url('img/coquinH.png');
	background-size: cover;
}

#punching{
	border: 1px solid black;
	margin: auto;
}

.main{
	box-sizing: border-box;
	background: rgba(0,0,0,0.5);
	width: 65%;
	min-height: 75%;
	padding: 1% 2%;
	margin-left: 13%;
	z-index:10;
	margin-bottom: 10%;
/* 	border: 1px solid green; */
}

.mainTitle{
	margin-top: 0;
}

#game{
	width: 65%;
}

#buttons{
	background: transparent;
	float: left;
	padding: 10% 9% 0 9%;
	-moz-appearance: none;
	-webkit-appearance: none;
}

#buttons button{
	margin: 5px;
	width: 100px;
}


#punching_img{
	max-height: 480px;
	max-width: 430px;
	float: left;
}

#scores{
	float: left;
	text-transform:uppercase;
	margin-left: 10%;
}

#scores h3{
	font-family: TitilLig;
	font-size: 15px;
	margin-left: 9px;	
	margin-bottom: 0;
}

#punching_score, #punching_timing{
	display: block;
	height: 60px;
	width: 60px;
	border-radius: 80px;
	background-position:center center;
}

#punching_scorep, #punching_timingp{
	position: relative;
	top:12px;
	font-size: 20px;
	text-align: center;
}

.flechette{
	position: absolute;
}

button.OrgBorder{
	font-family: Bellerose;
	font-size: 17px;
	height: 25px;
	line-height: 10px;
	background: transparent;
	border: 1px solid #ff7e30;
	color: white;
}

button.padd{
		padding: 0 50px 0 50px;
}

button[disabled=disabled]{
	color:rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.2);
	
}

.orgBorder{
	border: 1px solid #ff7e30;
}

#pop_send{
	z-index: 20;
	background: rgba(0,0,0,0.6);
	width: 40%;
	height: 40%;
	padding: 2%;
	position: absolute;
	left: 30%;
	top: 30%;
}

#pop_send textarea{
	width: 100%;
	background: rgba(0,0,0,0.6);
	resize: none;
	margin-bottom: 10px;
}

#pop_send_btn{
	width: 100%;
	text-align: center;
}

footer{
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	width: 120%;
	height: 140px;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	bottom: 0;
	right: -20px;
	bottom: -100px;
}

footer p{
	position: absolute;
	top:20px;
	right:100px;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
}

/* Page Calendrier */

#calendrier {
	position: relative;
}

.jour_calendar {
	padding: 5px 10px;
	display: inline-block;
	background: rgba(0,0,0,.5);
	text-align: center;
	vertical-align: top;
	margin-bottom: 10px;
	margin-right: 10px;
}


.jour_calendar li{
	list-style-type: disc;
	list-style-position: inside;
	text-align: left;
	color: rgba(231,76,60,0.5);
}

.jour_calendar li:first-line{
	color:white;
}

.jour_calendar p {
	margin: 0;
	padding: 0;
	color: rgba(255,128,49,0.5);
}

#info_suppr_popup {
	color: rgba(231,76,60,0.5);
}

#ajouter_event {
	position: absolute;
	top: 10px;
	right: 10px;
	background:none;
	font-size: 70px;
	color: white;
	line-height: 40px;
	transition: color .3s ease-in;
}

#ajouter_event:hover {
	color: rgba(255,128,49,0.5);
}

#info_suppr_popup {
	color: rgba(231,76,60,0.5);
}

#popup_info_event h1 {
	text-align: center;
	color: rgba(255,128,49,0.5);
	margin-top: 0;
	line-height: 0;
}

#popup_info_event #info_date_event {
	text-align: center;
}

#popup_info_event #info_lieu_event:first-line, #popup_info_event #info_desc_event:first-line{
	color: rgba(231,76,60,0.5);
}

#popup_modif_event input[disabled='disabled'] {
	background: none;
	color: white;
}

#popup_ajout_event, #popup_info_event, #popup_modif_event {
	position: absolute;
	top: 20%;
	left: 30%;
	padding: 20px;
	background: rgba(0,0,0,.7);
	display:none;
	min-width: 40%;
	max-width: 40%;
}

#popup_ajout_event textarea, #popup_modif_event textarea {
	min-width: 100%;
	display: block;
	color: black;
	width: 100%;
	margin: 10px auto 0 auto;
	padding: 3px;
	outline: 0;
	border: 0;
}

#popup_ajout_event h2, #popup_modif_event h2 {
	line-height: 30px;
	margin-bottom: 30px;
}

#popup_ajout_event input, #popup_modif_event input {
	display: block;
	color: black;
	width: 100%;
	margin: 10px auto 0 auto;
	outline: 0;
	border: 0;
	padding: 3px;
}

#popup_ajout_event input[type='submit'], #popup_info_event #info_suppr_popup, #popup_info_event  #info_modif_popup, #popup_modif_event input[type='submit']{
	background: rgba(231, 76, 60, .5);
	padding: 10px 30px;
	border: none;
	transition: background .3s ease-in;
	color: white;
	width: auto;
	float:right;
	margin-left: 10px;
}

#popup_info_event  #info_modif_popup {
	float:left;
}

#popup_ajout_event input[type='submit']:hover, #popup_info_event #info_suppr_popup:hover, #popup_info_event  #info_modif_popup:hover, #popup_modif_event input[type='submit']:hover{
	background: rgba(231, 76, 60, .7);
}

.fermer_popup {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 15px;
	color:rgba(231,76,60,0.5);
}

.fermer_popup a {
	color:rgba(231,76,60,0.5);
}

#fond_noir_popup {
	display:none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.8);
	position: absolute;
	top:0;
	left:0;
	cursor: pointer;
}

/* Page infos personelles*/

#lettrine{
	position: absolute;
	top:12%;
	left: 28%;
	z-index:15;	
}

#infosPersos{
	width: 45%;
	padding: 2%;
	font-family: Bellerose;
	margin:auto;
	margin-top: 20px;
}

#infosPersos h1{
z-index: 20;
}

#infosPersos input{
	border: none;
	background: rgba(0,0,0,0.6);
}

#nom{
	margin-top: 30px;
	height: 35px;
	margin-bottom: 30px;
	width: 250px;
	padding-left: 5px;
}
#sexeF+label,#sexeH+label{
	font-size: 20px;
	margin-left: 10px;
	margin-right: 20px;
}

#nom::-webkit-input-placeholder{
	height: 20px;
	font-size: 18px;
	font-style: italic;
	padding-left: 5px;
}

#nom::-moz-placeholder {
	height: 20px;
	font-size: 18px;
	font-style: italic;
	padding-left: 5px;
}

#profilePic{
	float: right;
	margin-top: -100px;
	height: 150px;
	width: 150px;
	padding: 30px 20px;
	border: 2px dashed rgba(255,128,49,0.9);
	text-align: center;
	font-family: TitilReg;
}
#profilePic img{
	height: 30px;
	width: 30px;
	margin-bottom: 10px;
}

label[for=birthDay],label[for=meetDay]{
	font-size: 20px;
	margin-right: 5px;
}

#dates{
	width: 90%;
	float: left;
	margin-top: 20px;
	margin-bottom: 30px;
}

#dates select{
	padding: 2px;
	width: 105px;
	margin: 5px;
	font-size: 15px;
	background-image: url(img/selector.png);
	background-repeat: no-repeat;
	background-position-x: 82px;
	background-position-y: 3px;
	background-size: 20px 18px;
	padding-left: 5px;
}

select{
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 15px;
	height: 25px;
	border-radius: 0;
	border: none;
	background: rgba(0,0,0,0.5);
	color: white;
}

#chooseBgPic{
	padding:40px 10px;
	height: 150px;
	width: 250px;
	border: 2px dashed rgba(255,128,49,0.9);
	text-align: center;
	font-family: TitilReg;
}

#chooseBgPic img{
	height: 30px;
	width: 30px;
	margin-bottom: 10px;
}


#validBgPic{
	height: 80px;
	float: right;
	font-size: 18px;
	text-align: center;
	padding: 5px 10px;
	width: 220px;
	background: rgba(0,0,0,0.3);
	margin-top: -120px;
	margin-right: 10%;
}

#validInfos{
	width: 100px;
	margin-top: 30px;
	margin-left: 40%;
}

/* Cachons la case à cocher */  
[type="radio"]:not(:checked),  
[type="radio"]:checked {  
  position: absolute;  
  left: -9999px;  
}  
   
/* on prépare le label */  
[type="radio"]:not(:checked) + label,  
[type="radio"]:checked + label {  
  position: relative; /* permet de positionner les pseudo-éléments */  
  padding-left: 25px; /* fait un peu d'espace pour notre case à venir */  
}

/* Aspect des radioes */  
/* :before sert à créer la case à cocher */  
[type="radio"]:not(:checked) + label:before,  
[type="radio"]:checked + label:before {  
  content: '';  
  position: absolute;  
  left:0; top: 16px;  
  width: 18px; height: 18px; /* dim. de la case */  
  background: transparent;  
  border-radius: 10px; /* angles arrondis */  
  border: 2px solid rgba(231,76,60,1); 
}  
   
/* Aspect général de la coche */  
[type="radio"]:not(:checked) + label:after,  
[type="radio"]:checked + label:after {  
  content: '\2022';  
  position: absolute;  
  top: -40px; left: 0px;  
  color: rgba(231,76,60,1); 
  font-size: 87px; 
}  
/* Aspect si "pas cochée" */  
[type="radio"]:not(:checked) + label:after {  
  opacity: 0; /* coche invisible */  
  transform: scale(0); /* mise à l'échelle à 0 */  
}  
/* Aspect si "cochée" */  
[type="radio"]:checked + label:after {  
  opacity: 1; /* coche opaque */  
  transform: scale(1); /* mise à l'échelle 1:1 */  
}

/* Page album */

.columnAlbum {
	margin-top:;
	width:25%;
	padding:2%;
	display:inline-block;
	min-height:20px;
	background-color:rgba(22, 22, 22, 0.8);
	float:left; /* important pour aligner toutes les colonnes */
}


.hashtag {
	font-family:Bellerose;
	
	color:#c34b42;
	margin-left:3%;

}

.albumDate {
	color:#edd9d7;
	
	margin-left:10%;
	margin-top:1%;
	margin-bottom:15%;
}


.boxPhoto /* BoxPhoto sert aussi pour la page wishlist */ img {
	padding-top:2.5%;
	padding-left:2.5%;
	padding-right:2.5%;

}

.searching /* Moteur de recherche */  {
	background-color:rgba(22, 22, 22, 0.8);
	padding:1%;
	display:inline;
	width:22%;
}

.searching input {
	background-color:black;
	border-radius:5px;
	border:none;
	font-style:italic;
}

.searching input::-webkit-input-placeholder {
    color:#a39594;
    text-align:center;
}
 
.searching input:-moz-placeholder {
    color:#a39594;
    text-align:center;
}

.searching input {
    color:#a39594;
    text-align:center;
}

.searching input:hover {
    text-decoration:none;
     outline: none;
}

.searching input:hover {
    text-decoration:none;
     outline: none;
    
}

#album {
	overflow:auto;
}

#album h1
{ 
	display:inline-block;
	width:68%;
}

/* Page wishlist */

#wishlist{
	overflow:auto;
}

#wishlist h1 {
	width:100%;
	display:inline-block;
}

#wishlist a, #addList{
display:block;
text-decoration:none;
color:#e74c3c;
margin-top:20%;
margin-bottom:20%;
max-width:80%;
}

#wishlist a {
	margin-left:10%;

}
 
#addList { /* premier cadre à droite qui répertorie les listes et permet d'en créer de nouvelles */
	margin-top:30%;
	margin-bottom:10%;
	
}

#wishlist a:hover {
	text-decoration:none;
	color:white;
}


.columnAlbum1 {
	margin:1%;
	width:22.5%;
	padding:2%;
	display:inline-block;
	min-height:20px;
	background-color:rgba(22, 22, 22, 0.8);
	float:left;
	} /* création d'un 1 pour ne pas perturber la page albums et ses colonnes */


.backgroundList { /* fond de couleur noire présent dans la seconde colonne, page wishlist */ 
background-color:rgba(22, 22, 22, 0.4);
margin-top:10%;
padding:5%;
padding-bottom:30%;

}

.titleListTick p, .miniListTitle { /* Titre des listes */
	color:#e74c3c; 
	
}

.listTick p { /* texte à côté des ronds à cocher */
	
	color:white;
	margin-left:15%;
}

.listTick img{

	width:8%;
	display:inline-block;
	float:left;
	margin-right:5%;
	margin-top:5%;
}

.listTick #croix{
	float:right;
	width:5%;

}

.selectList {
	margin-top:-20%;
}

.selectList a {
	font-size:1.3em;
	
}

#newIdea img { 
	display:inline-block;
	width:8%;
	margin-top:15%;
	float:left;

}

#newIdea input[type="text"] { /* champ pour inscrire une nouvelle idée, seconde colonne, page wishlist */ 
	color:rgba(255, 255, 255, 0.4);
	width:85%;
	height:50px;
	background-color:rgba(22, 22, 22, 0);
	display:inline-block;
	outline:none;
	border-style:none;
	font-size:1.3em;

}

#addIdea a { /* confirmation d'ajout de nouvelle idée */ 
	color: rgba(255, 255, 255, 0.4);
	float:right;
	font-size:1.3em;

}

#addIdea a:hover {
	color:white;
	 font-size:1.3em;
}

.miniList {
	background-color:rgba(22, 22, 22, 0.8);
	padding:10%;
	width:120%;
	margin-bottom:10%;

}

.columnAlbum2 .miniList:first-child {
	margin-top:-5%;

}


.miniListTitle {
	font-size:1.3em;
}

.miniListContent /* Contenu visible des listes non sélectionnées */

{
	color:white;
	
}

.miniListContent p {

	margin:0;
}

.seeIdea {
	margin-left:60%;
	width:40%;
	font-family:'TitilLig', sans-serif;
	font-size:1.3em;
	color:white;
}

.columnAlbum2 /* Création d'un second type de colonne pour respecter la séparation des fonds */
{
	width:22.5%;
	padding:2%;
	display:inline-block;
	min-height:20px;
	float:left;
}

.unselectedList /* Permet de donner la transparence sur les listes non sélectionnées */
{
	opacity:0.5;
	margin-top:-10%;

}

.unselectedList:hover {
	opacity:1;
}

	

