body{
	font-family:'Helvetica Neue', sans-serif;
	font-size:75%;
	min-height:100%;
	overflow:none;
}

a, a:visited {
	text-decoration:none;
	color:#6E6E6E;
}

ul {display:inline-block;list-style:none;padding:0;}