<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <base href="<?php echo $BASE; ?>/" />

    <title>U &amp; ME</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="public/stylesheet/foundation.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/normalize.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/uandme2.css" rel="stylesheet" type="text/css" />
  
</head>
<body class="clearfix">

  <header>
  	<p>
	  <img src="" id="logo" alt="U&ME"/>
	  <a id="logout">Déconnexion</a>
	  <img src="<?php echo $IMG; ?>settings.png" id="settings" alt="settings"/>
	  <img src="" id="notifications" alt="notif"/>
  	</p>
  </header>

  <nav>
  	<ul>
  	<li class="itemMenu" id="nous"><a href="infos"></a></li>
  	<li class="itemMenu" id="chat"><a href="chat"></a></li>
  	<li class="itemMenu active" id="tabou"><a href="tabou"></a></li>
  	<li class="itemMenu" id="coquin"><a href="coquin"></a></li>
  	</ul>
  </nav>

  <section id="stats">
        <ul class="stats_one">
        	<li><p id="us">MOI</p></li>
        	<li class="mood round red"></li>
        	<li class="menuPts round"><p>1200</p></li>
        </ul>
        <ul class="stats_one">
        	<li><p id="us">TOI</p></li>
        	<li class="mood round orange"></li>
        	<li class="menuPts round"><p>1280</p></li>
        </ul>
  </section>

  <section class="main" id='album'>
 <h1> Les photos de nos meilleurs moments... </h1> 

 <form class="searching">
        <input type="text" placeholder="Rechercher" required>
        <img type="submit" src="public/stylesheet/img/loupe.png" alt="ok">

    </form>  

<div class="albumGeneral">
<div class="columnAlbum"> 
 <div class="boxPhoto">
   <img src="public/stylesheet/img/bebechien.jpg" alt="Me&U" />
     <img src="public/stylesheet/img/chienballe.jpg" alt="Me&U" />
      

  <div class="hashtag">
 # Notre Chien d'Amour
 </div>
 <div class="albumDate">
 -Été 2012 -
 </div>
 

 </div>
 <div class="boxPhoto">
  <img src="public/stylesheet/img/chienadulte.jpg" alt="Me&U" />
   <img src="public/stylesheet/img/chienadulte.jpg" alt="Me&U" />
 
 <div class="hashtag">
 # Notre dog
 </div>
 <div class="albumDate">
 -Été 2012 -
 </div>

 </div>

 </div>

  <div class="columnAlbum"> 
   <div class="boxPhoto">
       <img src="public/stylesheet/img/mariage.jpg" alt="Me&U" />
         <img src="public/stylesheet/img/alliance.jpg" alt="Me&U" />
           <img src="public/stylesheet/img/route.jpg" alt="Me&U" />

   <div class="hashtag">
 # Mariage
 </div>
 <div class="albumDate">
 -15/07/2012 -
 </div>

 </div>

 </div>
 </div>

   <div class="columnAlbum"> 
    <div class="boxPhoto">
    <img src="public/stylesheet/img/birmanie.jpg" alt="Me&U" />
     <img src="public/stylesheet/img/birmanieTours.jpg" alt="Me&U" />
        <img src="public/stylesheet/img/birmanieEau.jpg" alt="Me&U" />
      <img src="public/stylesheet/img/birmanieEau.jpg" alt="Me&U" /> 
    
    <div class="hashtag">
 # VacancesBirmanie
 </div>
 <div class="albumDate">
 -Été 2013 -
 </div>

 </div>

 </div>
 </div>

   <div class="columnAlbum"> 
     <div class="boxPhoto">
     <img src="public/stylesheet/img/fennec.jpg" alt="Me&U" />
          <img src="public/stylesheet/img/ecureuil.jpg" alt="Me&U" />
            <img src="public/stylesheet/img/surricate.jpg" alt="Me&U" />
          <img src="public/stylesheet/img/tigre.jpg" alt="Me&U" />
          <img src="public/stylesheet/img/singe.jpg" alt="Me&U" />


     <div class="hashtag">
 # TellementNous<3
 </div>
 <div class="albumDate">
 -Tout le temps -
 </div>

 </div>

 </div>
 </div>
</div>


  </section>
  


    <footer>
    	<p>Mentions légales - Copyright</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="public/js/punching.js"></script>
    <script type="text/javascript" src="public/js/foundation/foundation.js"></script>
</body>
</html>