<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <base href="<?php echo $BASE; ?>/" />

    <title>U &amp; ME</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/uandme.css" rel="stylesheet" type="text/css" />
  
</head>
<body class="clearfix">


  <header>

  </header>


  <div class="upload_image">
    <p>Téléchargez une photo de votre compagnon : </p>
    <form method="post" action="punching-ball/" enctype="multipart/form-data">
        <input type="hidden" name="<?php echo ini_get("session.upload_progress.name"); ?>" value="123" />
        <input type="file" name="files" id='files' />
        <input type="submit" name="submitPhoto" value="Envoyer" />
    </form>
  </div>

  

  <section id='punching_jeu'>
  	<button id="punch" class="rage">Punch</button>
  	<button id="kiss" class="rage">Kiss</button>
    <?php
    if(isset($_FILES['files']) && $_FILES['files'] != null) {
        echo "<img src='app/Views/img/".$_FILES['files']['name']."' alt='punching' id='punching_img'>";
    } else {
        echo "<img src='app/Views/img/bfriend.jpg' alt='punching' id='punching_img'>";
    }
    ?>
    <!-- <img src="app/Views/img/bfriend.jpg" alt="punching" id="punching_img"> -->
    <h3>Score : <span id="punching_score">0</span></h3>
    <button id="send">Partager votre score</button>
  </section>



	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/punching.js"></script>
</body>
</html>