<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <base href="<?php echo $BASE; ?>/" />

    <title>U &amp; ME</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/uandme.css" rel="stylesheet" type="text/css" />
  
</head>
<body class="clearfix">


  <header id="header">
	  <img src="" id="logo" alt="U&ME"/>
	  <a id="logout">Déconnexion</a>
	  <img src="" id="notifications" alt="notif"/>
  </header>
  <nav id="mainNav">
  	<ul>
  	<li class="itemMenu" id="nous"><a href="nous"></a></li>
  	<li class="itemMenu" id="chat"><a href="nous"></a></li>
  	<li class="itemMenu" id="tabou"><a href="nous"></a></li>
  	<li class="itemMenu" id="coquin"><a href="nous"></a></li>
  	</ul>
  </nav>
  <nav id="stats">
	  <ul class="me">
	  	<li>MOI</li>
	  	<li class="mood round red"></li>
	  	<li class="menuPts round">1200</li>
	  </ul>
	  <ul class="you">
	  	<li>ELLE</li>
	  	<li class="mood round orange"></li>
	  	<li class="menuPts round">1280</li>
	  </ul>
  </nav>
  <section class="main" id='punching_jeu'>
  <div class="upload_image">
    <p>Téléchargez une photo de votre compagnon : </p>
    <form method="post" action="punching-ball/" enctype="multipart/form-data">
        <input type="hidden" name="<?php echo ini_get("session.upload_progress.name"); ?>" value="123" />
        <input type="file" name="files" id='files' />
        <input type="submit" name="submitPhoto" value="Envoyer" />
    </form>
  </div>
  	<!--
<button id="punch" class="rage">Punch</button>
  	<button id="kiss" class="rage">Kiss</button>
-->
    <?php
    if(isset($_FILES['files']) && $_FILES['files'] != null) {
        echo "<img src='app/Views/img/".$_FILES['files']['name']."' alt='punching' id='punching_img'>";
    } else {
        //echo "<img src='app/Views/img/bfriend.jpg' alt='punching' id='punching_img'>";
    }
    ?>
    <div id="game">
    	<h2>C'est l'heure de lui régler son compte...</h2>
    	<img src="app/Views/img/bfriend.jpg" alt="punching" id="punching_img">
    	<h3>Timing</h3><span id="punching_timing" class="round orange">60</span>
    	<h3>Score</h3><span id="punching_score" class="round red">20</span>
<!--     <button id="send">Partager votre score</button> -->
	<div>
  </section>


<footer>
	<p>Mention légales - Copyright</p>
</footer>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/punching.js"></script>
</body>
</html>