<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
     <base href="<?php echo $BASE; ?>/" />

    <title>U &amp; ME</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="public/stylesheet/foundation.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/normalize.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/style.css" rel="stylesheet" type="text/css" />
    <link href="public/stylesheet/uandme.css" rel="stylesheet" type="text/css" />
  
</head>
<body class="clearfix">

  <header>
  	<p>
      <a href=""><img src="<?php echo $IMG; ?>logo.png" id="logo" alt="U&ME"/></a>
      <?php
        if(isset($_SESSION['id_moi']) && isset($_SESSION['pseudo']))
          echo "<a href='logout' id='logout'>Déconnexion</a>";
      ?>
	  <img src="<?php echo $IMG; ?>settings.png" id="settings" alt="settings"/>
	  <img src="<?php echo $IMG; ?>notif.png" id="notifications" alt="notif"/>
  	</p>
  </header>

  <nav>
  	<ul>
  	<li class="itemMenu active" id="menu_nous"><a href="nous"></a></li>
  	<li class="itemMenu" id="menu_chat"><a href="chat"></a></li>
  	<li class="itemMenu" id="menu_tabou"><a href="tabou"></a></li>
  	<li class="itemMenu" id="menu_coquin"><a href="coquin"></a></li>
  	</ul>
  </nav>

  <section id="stats">
        <ul class="stats_one">
        	<li><p id="us">MOI</p></li>
        	<li class="mood round red"></li>
        	<li class="menuPts round"><p>1200</p></li>
        </ul>
        <ul class="stats_one">
        	<li><p id="us">TOI</p></li>
        	<li class="mood round orange"></li>
        	<li class="menuPts round"><p>1280</p></li>
        </ul>
  </section>

  <section class="main" id='wishlist'>
 <h1> Qu'est-ce qu'on peut faire ? Mais si, regarde ! On a plein d'idées ! </h1> 


<div class="albumGeneral">
<div class="columnAlbum1"> 
<div class="selectList">
  
   <a href="#" alt="ME&U">Idées vacances</a> 
  <a href="#" alt="ME&U"> Idées cadeau pour Julie </a>
  <a href="#" alt="ME&U"> Idées cadeau pour Boris</a>
  <a href="#" alt="ME&U"> Sorties à faire</a>
  
  <div id="addList">
 <a href="#" alt="ME&U"> + Ajouter une liste </a>
</div>


 </div>
 
 </div>
 <div class="columnAlbum1">
 
 <div class="titleListTick">
 <p>Idées cadeaux pour Boris</p>
 </div>
<div class="backgroundList">

  
<div class="listTick">

<img src="public/stylesheet/img/tick.png"src="ME&U"/> <img src="public/stylesheet/img/croix.png" alt="ME&U" id="croix"/><p> Idées vacances </p> 
<img src="public/stylesheet/img/tick.png"src="ME&U"/> <img src="public/stylesheet/img/croix.png" alt="ME&U" id="croix"/><p> Idées cadeau pour Julie </p>
<img src="public/stylesheet/img/tickup.png"src="ME&U"/> <img src="public/stylesheet/img/croix.png" alt="ME&U" id="croix"/><p> Idées cadeau pour Boris</p>
<img src="public/stylesheet/img/tick.png"src="ME&U"/>  <img src="public/stylesheet/img/croix.png" alt="ME&U" id="croix" /><p> Sorties à faire</p>

 <div id="newIdea">
 <img src="public/stylesheet/img/tick.png"src="ME&U"/> <input type="text" name="newIdea" placeholder="Écrivez votre idée...">
</div>  

 <div id="addIdea">
<a href="#">Ajouter </a>
</div>
</div>
</div>
</div>
 
 <div class="columnAlbum2"> 


<div class="miniList">
<a class="unselectedList">
 <div class="miniListTitle">
 Idées vacances
 </div>

  <div class="miniListContent">
<p> Circuit Pérou</p> 
<p> Thaïlande </p>
<p> Chine</p>
<p> Voir le Taj Mahal</p>
</div>

<div class="seeIdea">
<a href="#">+ Voir </a>
</div>
 

</div>

</a>



<div class="miniList">
<a class="unselectedList">
 <div class="miniListTitle">
 Idées vacances
 </div>

  <div class="miniListContent">
<p> Circuit Pérou</p> 
<p> Thaïlande </p>
<p> Chine</p>
<p> Voir le Taj Mahal</p>
</div>

<div class="seeIdea">
<a href="#">+ Voir </a>
</div>
 

</div>
</a>
 
</div>




<div class="columnAlbum2"> 

<div class="miniList">
<a class="unselectedList">
 <div class="miniListTitle">
 Idées vacances
 </div>

  <div class="miniListContent">
<p> Circuit Pérou</p> 
<p> Thaïlande </p>
<p> Chine</p>
<p> Voir le Taj Mahal</p>
</div>

<div class="seeIdea">
<a href="#"> + Voir </a>
</div>
 

</div>

</a>
 
</div>

 
 

  </section>
  


    <footer>
    	<p>Mentions légales - Copyright</p>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="public/js/foundation/foundation.js"></script>
    <script type="text/javascript" src="public/js/u&me.js"></script>
</body>
</html>